<!-- blog/category.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Записи категории «{{ category_slug }}»</h1>
    
    {% for post in posts %}
        <div class="post-item">
            <ul>
                <li>Место: {{ post.location }}</li>
                <li>Дата: {{ post.date }}</li>
                <li>Категория: {{ post.category }}</li>
            </ul>
            <p>{{ post.text|truncatechars:50 }}...</p>
            <a href="/post/{{ post.id }}">Читать полный текст</a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
