{% extends 'base.html' %}

{% block title %}
<h1>{{ post.location }}</h1> 
<p>Дата: {{ post.date }}</p>
<p>Категория: {{ post.category }}</p>
<div class="full-text">
    {{ post.full_text|linebreaks }}
</div>
<a href="{% url 'blog:post_list' %}">Назад к списку постов</a>
{% endblock title %}

{% block content %}
<div class="container py-5">
    <article>
        <ul>
            <li><strong>Место:</strong> {{ post.location }}</li>
            <li><strong>Дата:</strong> {{ post.date }}</li>
            <li>
                <strong>Категория:</strong>
                <a href="{% url 'blog:category_detail' post.category %}">{{ post.category }}</a>
            </li>
        </ul>
        <p>{{ post.text }}</p>
    </article>
</div>
{% endblock %}
